.about {
	padding: 50px 0;
}
.about__body {
	display: flex;
	

}
.about__title {}

.about__row{

	
}
.about__text {
	padding-top: 30px;
	color: #d2d2d2;
	padding-right: 38px;
	font-family: "Montserrat - Regular";
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
}
.span{
	color: #fff;
	font-weight: 700;
}
.about__image {
	position: relative;
}

.about__rectangle{
	position: absolute;
    width: 55%;
    height: 70%;
    object-fit: cover;
    z-index: 2;
    top: 50%;
    right: -26%;


}