.order-discount{
	padding-bottom: 50px;
	position: relative;
}

.order {
	padding-top: 70px;
}
.bg_order-discount{
	position: absolute;
	z-index: -1;
	top: -30%;
	height: 100%;
	width: 100%;
	object-fit: cover;
	opacity: .8;
}

.order__body {}
.order__title {
	padding-bottom: 75px;
}

.order__items {
	display: flex;
	justify-content: space-between;
}
.order__item {
	padding: 25px;
}
.order__step {
	padding-bottom: 20px;
	color: #01a9ff;
	font-family: "Montserrat";
	font-size: 25px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: 21px;
}
.order__text {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 21px;
}
.order__note {
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 400;
	
	line-height: 21px;
	text-align: center;

}
.note{
	display: inline-block;
	padding: 15px;
	background-color: #353637;

}

.discount {
	position: relative;
}
.discount__body {
	display: flex;
	
}

.discount__bg-smoke{
    position: absolute;
    object-fit: cover;
    width: 100%;
   	top:-10%;
    z-index: -2;
    opacity: .5;
    
}
.discount__img {
	position: relative;
	z-index: -3;
}
.discount__rectagle__big{
	position: absolute;
	object-fit: cover;
    width: 100%;
    height: auto;
    z-index: -4;
    left: -25%;
    top: -20%;
}

.discount__rectagle__small{
	position: absolute;
	z-index: 1;
    left: -14%;
    bottom: 2%;
}
.discount__gift{

}
.discount__content {
	position: absolute;
	width: 66.6%;
	right: -4%;
	top: 25%;
	z-index: 2;	


}
.discount__title {
	color: #fff;
	padding-bottom: 20px;
}

.discount__note {
	padding-top: 20px;
	color: #b9b9b9;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
	text-align: left;
}
